@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Edit Exam @Model.ExamId</h2>

<form method="post" action="Update" class="mt-5" id="updateExam">
    <!-- Input hidden để giữ ID của câu hỏi -->
    <div class="mb-3" hidden>
        <label for="examId" class="form-label">Exam Id</label>
        <!-- Hiển thị trường QuestionText của đối tượng Question -->
        <input id="examId" name="ExamId" class="form-control" value="@Model.ExamId" readonly>
    </div>

    <div class="mb-3">
        <label for="examName" class="form-label">Exam Name</label>
        <!-- Hiển thị trường QuestionText của đối tượng Question -->
        <input type="text" id="examName" name="ExamName" class="form-control" value="@Model.ExamName" required>
    </div>

    <div class="mb-3">
        <label for="duration" class="form-label">Duration</label>
        <!-- Hiển thị trường DifficultyLevel của đối tượng Question -->
        <input type="number" id="duration" name="Duration" class="form-control" value="@Model.Duration" required>
    </div>

    <button type="submit" class="btn btn-primary" onclick="showSuccessMessage()">Save</button>
    <button type="submit" class="btn btn-danger" asp-controller="Exam" asp-action="Delete">Delete</button>
</form>
